<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Warehouse Simulator</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Warehouse Simulator</h1>

    <div class="controls">
        <button id="shelfBtn">Set Shelf</button>
        <button id="itemBtn">Set Item</button>
        <button id="runBtn">Run Algorithm</button>
    </div>

    <canvas id="map" width="680" height="720"></canvas>

    <script src="/static/script.js"></script>
</body>
</html>
